@page "/login"
<h3>Login</h3>

<EditForm Model = "@Dati" OnValidSubmit = "@(e => OnSalva.InvokeAsync(Dati))">
    <label for = "nome">Nome</label>
    <InputText id = "nome" @bind-Value = "@Dati.FirstName"></InputText><br>
    <label for = "cognome">Cognome</label>
    <InputText id = "cognome" @bind-Value = "@Dati.LastName"></InputText><br>
    <label for = "password">Password</label>
    <InputText id = "password" @bind-Value = "@Dati.Password"></InputText><br>
    <button type = "submit">Login</button>
</EditForm>