<h3>Lista delle cose da fare</h3>

<EditForm model = "@TodoSingolo" OnValidSubmit = "@(e => OnSalva.InvokeAsync(TodoSingolo))">
    <input type = "text" id = "frase" placeholder = "Scrivi qualcosa" @bind-value = "@TodoSingolo.Frase" />
    <button type = "submit" class = "btn btn-primary">Aggiungi</button>
</EditForm>
<!--
@for(int i = 0; i < ListaTodo.Count(); i++)
{
    <tr>
        <td><h3>@ListaTodo.ElementAt(i).Frase</h3></td>
        <td><button type = "button" class = "btn btn-danger" @onclick = "@(e => OnElimina.InvokeAsync(ListaTodo.ElementAt(i)))">Rimuovi</button></td>
    </tr>
}
-->
@foreach(var cri in ListaTodo)
{
    <tr>
        <td><h3>@cri.Frase</h3></td>
        <td><button type = "button" class = "btn btn-danger" @onclick = "@(e => OnElimina.InvokeAsync(cri))">Rimuovi</button></td>
    </tr>
}