<h3>Lista delle cose da fare</h3>

<EditForm model = "@TodoSingolo" OnValidSubmit = "@(e => OnSalva.InvokeAsync(TodoSingolo))">
    <input type = "text" id = "frase" placeholder = "Scrivi qualcosa" @bind-value = "@TodoSingolo.Frase" />
    <button type = "submit" class = "btn btn-primary">Aggiungi</button>
</EditForm>

@for(int i = ListaTodo.Count - 1; i >= 0; i--)
{
    <tr>
        <h3>@ListaTodo.ElementAt(i).Frase</h3>
        <button type = "button" class = "btn btn-danger" @onclick = "@(e => OnElimina.InvokeAsync(TodoSingolo))">Rimuovi</button>
    </tr>
}